//HTML Element Styling

h1 {
	font-family: "Raleway" , san-serif;
	font-weight: 600;
	margin: 0;
};

p {
	
};

a {
	text-decoration: none;
	color:white;
};

li {
	list-style: none;
};

// Section Styling

.outer-wrapper {
	margin: 0;
	font-family: "Droid Serif" , serif;
};

.header-styling {
	background-color: #f15b31;
	color: white;
	padding: 30px 20px;
};

.nav-styling {
	background-color: #00a6b3;
	color: white;
	padding: 20px 0;
};

.main-container {
	width: 850px;
	margin: 35px auto;
};

.card-img {
	margin: 40px 8px;
}